<a href="https://colab.research.google.com/github/aaronbened/Linear-Algebra-58020/blob/main/Copy_of_Umiten.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Programming Demo 1 **

In [ ]:
print("Hello World") #this is comment :>>

In [ ]:
#storing of data values**
#multiple variable
a, b, c, d= "banana",32,"pineapple",50
print(a) 
print(b)
print(c)
print(d)
#casting**
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
#single and double quote 
y='Ned'
print(y)
x="ned"
print(x)
#case sensitive
a = 4
A = "Sally" 
print(a)
print(A)

In [ ]:
#one value in mulple variable
x=z=y=5
print(x)
print(z)
print(y)

In [ ]:
#output variable
x="enjoying"
print("Python Programming" + " "+x) 
print(" ")
#other way
y = "can learn programming by "
z = "trial and error"
sample = y+z
print(sample)

In [ ]:
#operation
a,b,c,d,e= 2,4,6,8,9
addition = a+b
subtraction = a-d
multiplication = b*c
division = c/a
modulus = e=e%a
exponentiation = d**a

print(addition)
print(subtraction)
print(multiplication)
print(division)
print(modulus)
print(exponentiation)

In [ ]:
#logical operators

#and
y =3
y<6 and y>2

True

In [ ]:
#or
x=7
x<3 or x>=3

In [ ]:
x=4
y=4 
x is  y

In [ ]:
#bitwise operators
x,y,z = 4,7,3
x>z & (z<=7 | y<x)